
.logo
{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width :20vw;
}
.profile
{
	background-color:#3f000f;
	padding: 12px 16px;
	color:red;
	border:none;
	cursor:pointer;
	font-size:20px;
}
.profiledr
{
	position:absolute;
	top:0;
	right:0;
	display:inline-block;
}
.profilec
{
	display:none;
	position:absolute;
	right:0;
	background-color:white;
	min-width:160px;
	z-index:1;
}
.profilec a
{
	color:black;
	padding:12px 16px;
	text-decoration:underline;
	display:block;
}
.profilec a:hover{background-color:#aa729b;}
.profiledr:hover .profilec{display:block}
.profiledr:hover .profile{background-color:#603cb8;}
ul{
	list-style-type:none;
	padding:0;
	margin:0;
	overflow:hidden;
	background-color:#aa729b;
}
li
{
	float:left;
}
li a
{
	display:block;
	color:#603cb8;
	padding:10px;
	text-align:center;
	text-decoration:none;
}
li a:hover
{
	background-color:white;
}

.g
{
	float:right;
	padding:10px;
	right:50px;
}
.column
{
	float:left;
	width:20%;
	padding:30px;
}
.row::after
{
	content:"";
	clear:both;
	display:table;
}
.column img:hover
{
	transition:transform .2s;
	transform: scale(1.5);
}
@media screen and (max-width:500px)
{
	.column
	{
		width:100%;
	}
}
footer
{
	background-color:#dcdcdc;
	
}